:root {
    --cyan-color: #5DBEB4;
}

body {
    font-family: "Muller", sans-serif;
    background-color: #0A0A09;
    color: #FFF;
}
*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
img {
    box-sizing: border-box;
    max-width: 100%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
/*------------------------------------------------------------------------------------*/
.btn {
    display: inline-block;
    border-radius: 30px;
}
.btn-yellow-transparent {
    border: 1px solid #ECD774;
    box-shadow: 0px 0px 5px 0px #D6A500;
    max-width: 280px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.btn-yellow-glow {
    background: linear-gradient(280.1deg, #FFFFFF -23.59%, #DBB500 115.07%);
    box-shadow: 0px 0px 20px 0px #D6A500;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 252px;
    font-size: 24px;
    line-height: 24px;
    color: #000;
}
.bg-cover {
    background-size: cover;
}
.text-24 {
    font-size: 24px;
    line-height: 24px;
}
.border-r-10 {
    border-radius: 10px;
}
.primary-title {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.045em;
}
.w-full {
    width: 100%;
}
.cursor-pointer {
    cursor: pointer;
}
.yellow-span span {
    color: #D4CC7B;
}
.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.grid {
    display: grid;
}
.items-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.text-center {
    text-align: center;
}
.relative {
    position: relative;
}
.fw-normal {
    font-weight: 400;
}
.bold {
    font-weight: 700;
}
.italic {
    font-style: italic;
}
.container {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 20px;
}
.main-content-wrapper {
    padding-top: 116px;
    padding-bottom: 240px;
    background-image: url("../images/Crimea-main.png");
    background-repeat: no-repeat;
    background-position: left;
}
.main-advantages-wrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;
    font-size: 30px;
    padding-top: 48px;
    padding-bottom: 48px;
}
.main-title {
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
}
.main-car-image {
    position: absolute;
    top: 50%;
    transform: translateY(-45%);
    right: 0;
    z-index: -1;
}
.main-glow-ellipse {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(151.58deg, rgba(93, 190, 180, 0.8) 11.12%, rgba(49, 149, 145, 0.8) 106.42%);
    filter: blur(200px);
    z-index: -1;
    border-radius: 50%;
}
.nav-header {
    gap: 100px;
    padding-top: 26px;
    padding-bottom: 12px;
    align-items: end;
}
.nav-link-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 125px;
    color: #FFFFFF66;
}
/*---------------------------------------------------------------------------------------*/
.auto-park-section {
    padding-top: 200px;
    padding-bottom: 50px;
}
.auto-park-cards-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-top: 74px;
    padding-bottom: 48px;
}
.auto-park-card {
    border: 1px solid #7E7E7E66;
    padding: 16px 20px 18px 20px;
    box-shadow: 0px 4px 10px 0px #7C7C7C33;
}
.auto-park-card-title span {
    color: #ECD774;
}
.auto-park-card-title-wrapper::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-size: cover;
    margin-right: 14px;
}
.small-bmw-logo::before {
    background-image: url("../images/svg/small-logo-bmw.svg");
}
.small-mercedes-logo::before {
    background-image: url("../images/svg/small-mercedes-logo.svg");
}
.small-kia-logo::before {
    background-image: url("../images/svg/small-kia-logo.svg");
    width: 31px;
    height: 17px;
}
.small-volkswagen-logo::before {
    background-image: url("../images/svg/small-volkswagen-logo.svg");
}
.auto-park-block-icon {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.045em;
    color: #B3B5B7;
}
.auto-park-icon-text {
    position: absolute;
    top: 50%;
    left: 50%;
}
.auto-park-card-car-img {
    margin-top: 12px;
    margin-bottom: 24px;
}
.auto-park-icon-text-year {
    transform: translate(-50%, -40%);
}
.auto-park-icon-text-engine {
    transform: translate(-50%, -70%);
}
.auto-card-price {
    letter-spacing: -0.045em;
    margin-top: 24px;
    margin-bottom: 24px;
}
/*----------------------------------------------------------------------------*/
a:hover {
    color: rgb(80, 80, 80);
}
button:hover {
    background-color: rgb(194, 194, 194);
}

.control-panel {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}
.control-panel h2 {
    margin-top: 0;
}
.control-panel div {
    margin-bottom: 15px;
}

.content {
    padding: 20px;
}

.content h1, .content p {
    text-align: center;
}

input, select, button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.color-btn, .bg-btn {
    background-color: #007bff;
    color: white;
}

.color-btn:hover, .bg-btn:hover {
    background-color: #0056b3;
}

.footer {
    margin: 0;
    font-size: 30px;
}
/*---------------------------------------------------------------------*/
.menu {
    margin-right: 30px;
}
.menu-icon {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 4;
}
.menu-icon span {
    width: 26px;
    height: 2px;
    background-color: var(--cyan-color);
    position: absolute;
    left: calc(50% - 13px);
    transition: all 0.2s linear;
}
.menu-icon span:first-child {
    top: 20%;
}
.menu-icon span:nth-child(2) {
    top: calc(50% - 1px);
}
.menu-icon span:last-child {
    bottom: 20%;
}
#menu-toggle {
    opacity: 0;
    position: absolute;
}
#menu-toggle:checked ~ .menu-icon span {
    top: calc(50% - 1px);
    background-color: var(--cyan-color);
}
#menu-toggle:checked ~ .menu-icon span:first-child {
    transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-icon span:nth-child(2) {
    opacity: 0;
}
#menu-toggle:checked ~ .menu-icon span:last-child {
    transform: rotate(-45deg);
}
.menu-items {
    max-width: 600px;
    gap: 24px
}
.burger-logo {
    width: 78px;
    height: 98px;
    margin-bottom: 28px;
}
.burger-arrow {
    width: 12px;
    height: 16px;
    cursor: pointer;
}
.burger-arrow li:first-child, .burger-arrow li:last-child {
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    background-color: black;
}
.burger-arrow li:first-child {
    top: 3px;
    transform: rotate(45deg);
}
.burger-arrow li:last-child {
    bottom: 3px;
    transform: rotate(-45deg);
}
.burger-bg {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #121214CC;
    z-index: 3;
    padding: 11px 20px;
    flex-direction: column;
}
.menu-items a {
    color: #FFF;
    font-size: 26px;
    font-weight: 700;
}
#menu-toggle:checked ~ .burger-bg {
    display: flex;
}
#menu-toggle:checked ~ .menu-icon {
    position: fixed;
}
.burger-call-me {
    max-width: 207px;
    margin-top: 55px;
}