h1 {
    color: rgb(41, 35, 35);
    font-size: 40px;
    border: 2px solid black;
}
    

h3 {
    color:rgb(58, 51, 52);
    font-size: 20px;
    border: 3px dashed blue
}


body{
    background-color: rgb(153, 146, 190);
}

