body {
    font-family: Arial, sans-serif;
    background-color: #0A0A09;
    color: #fff;
}

*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}   

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color:inherit;
    cursor: pointer;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-title span {
    color: #D4CC7B;
}

.flex {
    display: flex;
    justify-content: flex-start;
    gap: 125px;
}

.nav-link-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 125px;
}

footer {
    margin: 0;
}